[Unit]
Description=Time-lapse Recorder (LifeCam Studio)
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=vvv347
WorkingDirectory=/home/vvv347/RaspberryClient/
EnvironmentFile=/home/vvv347/RaspberryClient/.env
ExecStart=/usr/bin/python3 /home/vvv347/RaspberryClient/timelapse.py
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
